body {
  background: linear-gradient(white, antiquewhite);
  padding: 0px;
  margin: 0px;
  background: no-repeat;
}

html {
  min-width: 980px;
  min-height: 784px;
}

a {
  text-decoration: none;
  color: orange;
}

header {
  display: flex;
  background-color: rgb(0, 0, 0, 0.75);
  margin: 0px;
  padding: 8px 16px;
  height: 112px;
}

nav {
  margin-top: 80px;
  display: inline;
  margin-left: auto;
}

.profile {
  max-width: 95%;
  height: 240px;
  padding: 4px;
  color: orange;
  background-color: rgb(0, 0, 0, 0.75);
  border: white 3px solid;
}

.profile img {
  width: 160px;
  border-radius: 50%;
}

.underlined {
  text-decoration: underline;
}

.error {
  color: black;
  background-color: red;
}

#logo {
  margin: 24px 32px;
  font-family: "Inter";
  font-style: normal;
  font-size: 64px;
  line-height: 37px;
  text-align: center;
  letter-spacing: -0.11em;
  color: #ffffff;
}

#searched {
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  padding: 4px;
  display: inline;
  width: 320px;
  height: 240px;
  background-color: white;
  color: orange;
}

#searched div {
  max-height: 93%;
}

#details {
  list-style: none;
}

#display {
  display: flex;
  padding: 8px;
}

#login {
  display: inline;
}

#dogs {
  min-width: 60%;
  margin-left: auto;
  margin-right: auto;
}
